.body {
   
    background: repeat-x scroll 0 0 rgba(0, 0, 0, 0);
   color: black;
    font-family: "Helvetica Neue","Lucida Grande","Segoe UI",Arial,Helvetica,Verdana,sans-serif;
    width: 1900px;
    
    margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;

      
}

.main {     
     background: url("/Images/Main.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
     display: inline-block;
   
    min-height: 419px;
     margin: 0px auto 0px auto;
    width: 1900px;
    height: 780px;
   
  }

.header{
     background: url("/Images/Head.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
     display: inline-block;
     width: 1900px;
     margin: 0px auto 0px auto;

 
}

.footer
{
     text-align: center;
}
     